*{
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    box-sizing: border-box;
    background-color: rgb(236, 228, 216);
}
h2 {
    margin-top: 0.5rem;;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    flex-direction: column;

}
.design1 {
    display: flex;
    padding: 0.5rem;

    & > p {
        margin-top: 0.2rem;
    }
}
.design-one {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.7rem 10vw;
    background-color: rgb(0, 0, 0) solid;

    & > .nav-content {
        font-weight: 600;
        font-size: 1.1rem;
        color: black;
    }
}

nav {
    display: flex;
    justify-content: right;
    padding: 2rem;
}
img {

}