* {
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    box-sizing: border-box;
}
h2 {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    flex-direction: column;
    text-decoration: none;
}
section {
    display: flex;
    padding: 0.5rem;
    max-width: 95%;
    margin-left: -10px;

    & > p {
        margin-top: 0.2rem;
    }
}

header {
    width: 95%;
    height: 5rem;
    display: flex;
    background-color: black;

    nav {
        display: flex;
        padding: 2.2rem;
        justify-content: space-evenly;
        margin-left: -30px;;
        font-weight: 600;
        font-size: 1rem;

        a {
            color: white;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}

.right-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30rem;
    font-family: Arial, Helvetica, sans-serif;

    & > a {
    color: aliceblue;
    margin-left: -5px;
    text-decoration: none;

    & > h4 {
        display: flex;
        justify-content: center;
        margin-top: -18px;
        margin-left: 40px;
    }
    }

    & > i {
    color: aliceblue;
    margin: 0 10px;
    }
}

img {
    padding: 5px;
    margin-top: 5px;
    display: flex;
    max-width: 10vw;
    height: 4rem;
}

